.bodvm-section {
    display : flex;
    justify-content: center;
    align-items : center;
}


.bodvm-pagebackground {
    width: 100%;
    height: 85vh;

    background-color: beige;
}
.bodvm-pageinner {
    width: 95%;
    height: 95%;

    border: 1px solid black;
    border-radius: 15px;
}
.bodvm-bodarea {
    width: 95%;
    height: 95%;
}

.bodvm-sidebar {
    width: 20%;
    height: 100%;

    border: 1px solid black;
    border-radius: 15px;
}

.bodvm-sidetitle {
    width: 100%;
    height: 10%;
}

.bodvm-sideutil {
    width: 100%;
    height: 15%;
}

.bodvm-sidebtu {
    width: 100%;
    height: 10%;
}

.bodvm-changebtu {
    width: 200px;
    height: 60px;

    margin: 5px;
    border: none;
    border-radius: 10px;

    background-color: black;
    color: white;
}
.bodvm-changebtu:active {
    background-color: white;
    color: black;
}

.bodvm-contents {
    width: 80%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bodvm-addbod {
    width: 90%;
    height: 12%;

    border: 1px solid black;
    border-radius: 15px;
}
.bodvm-showbod {
    width: 90%;
    height: 63%;
}

.bodvm-contents {
    width: 80%;
    height: 100%;

    border: 1px solid black;
}

.bodvm-contents-viewerinfo {
    width: 100%;
    height: 5%;

    display: inline-flex;

    border: 1px solid black;
}

.bodvm-contents-number {
    width: 5%;
    border: 1px solid black;
}
.bodvm-contents-title {
    width: 50%;
    border: 1px solid black;
}
.bodvm-contents-title > input {
    width: 90%;
    height: 90%;
    border: 1px solid black;
}
.bodvm-contents-writer {
    width: 25%;
    border: 1px solid black;
}
.bodvm-contents-writetime {
    width: 20%;
    border: 1px solid black;
}


.bodvm-contents-viewertext {
    width: 100%;
    height: 85%;

    border: 1px solid black;
}
.bodvm-contents-text {
    width: 85%;
    height: 85%;
    
    border: 1px solid black;
}
.bodvm-contents-text > input {
    width: 90%;
    height: 90%;
    border: 1px solid black;
}

.bodvm-contents-submitbutton {
    width: 100%;
    height: 10%;

    border: 1px solid black;
}
.bodvm-contents-submitbtn {
    width: 150px;
    height: 80px;

    font-family: 'GIfont';
    font-size: large;

    border-radius: 20px;
    color: white;
    background-color: black;
}
.bodvm-contents-submitbtn:active {
    color: red;
}