.memberinfo-section {
    display : flex;
    justify-content: center;
    align-items : center;
}

.board-contents-board {
    width: 90%;
    height: 90%;

    text-align: center;

    border: 1px solid black;
}

.board-contents-boardcreatetitle {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.board-contents-boardcreatetitle > input {
    width: 90%;
    height: 90%;
}
.board-contents-boardcreatetext {
    width: 100%;
    height: 70%;
    border: 1px solid black;
}
.board-contents-boardcreatetext > input {
    width: 90%;
    height: 90%;
}

.board-contents-submitbutton {
    width: 100%;
    height: 10%;

    border: 1px solid black;
}
.board-contents-submitbtn {
    width: 150px;
    height: 80px;

    font-family: 'GIfont';
    font-size: large;

    border-radius: 20px;
    color: white;
    background-color: black;
}
.board-contents-submitbtn:active {
    color: red;
}