.board-contents-board {
    width: 100%;
    height: 90%;

    text-align: center;

    /* border: 1px solid black; */
}

.bod-conts-boddespubcss {
    border: 1px solid black;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-contents-boarddes {
    width: 100%;
    height: 15%;

    display: inline-flex;

    /* border: 1px solid black; */
}

.board-contents-boarddesnumber {
    width: 10%;
    border: 1px solid black;
}
.board-contents-boarddestitle {
    width: 50%;
    border: 1px solid black;
}
.board-contents-boarddeswriter {
    width: 20%;
    border: 1px solid black;
}
.board-contents-boarddeswritetime {
    width: 20%;
    border: 1px solid black;
}

.board-inner-boardcontents-title {
    width: 100%;
    height: 100%;

    border: 1px solid black;
}
