.callapi-section {
    display : flex;
    justify-content: center;
    align-items : center;
}

.callapi-outer {
    border: 1px solid black;
}

.callapi-inner {
    width: 1650px;
    height: 1250px;

    border: 1px solid black;
}

.callapi-contentsbox {
    width: 90%;
    height: 90%;

    border: 1px solid black;
}

.callapi-apiouter {
    width: 100%;
    height: 92.5%;

    display: flex;

    border: 1px solid black;
}

.callapi-apimenu {
    width: 20%;
    height: 100%;

    border: 1px solid black;
}

.callapi-apicontents {
    width: 80%;
    height: 100%;

    border: 1px solid black;
}