.join-pagebackground {
    width: 100%;
    height: 60vh;

    background-color: gainsboro;
}
.join-pageinner {
    width: 90%;
    height: 90%;

    border: 1px solid black;
    border-radius: 15px;
}
.join-formarea {
    width: 90%;
    height: 90%;
}

.join-title {
    width: 100%;
    height: 15%;
}
.join-input {
    width: 100%;
    height: 85%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.join-inputtag {
    width: 400px;
    height: 50px;

    margin: 5px;

    border: none;
    border-radius: 10px;
}

.join-buttontag {
    width: 100px;
    height: 50px;

    margin: 5px;
    border: none;
    border-radius: 10px;

    background-color: black;
    color: white;
}
.join-buttontag:active {
    background-color: white;
    color: black;
}