.member-outer {
    width: 1800px;
    height: 1200px;

    display : flex;
    justify-content: center;
    align-items : center;

    margin: auto;
}

.member-inner {
    width: 95%;
    height: 95%;
}

.member-inner-loginform {
    width: 70%;
    height: 100%;

    margin: auto;
}

.member-inner-loginform-idinput {
    width: 100%;
    height: 100px;
}

.member-inner-loginform-pwinput{
    width: 100%;
    height: 100px;
}

.member-inner-loginform-submitbtu{
    width: 100%;
    height: 100px;
}