.memberinfo-section {
    display : flex;
    justify-content: center;
    align-items : center;
}

.memberinfo-outer {
    width: 100%;
    height: 800px;

    margin: auto;
}

.memberinfo-inner {
    width: 80%;
    height: 100%;
}

.memberinfo-memberinfoform {
    width: 800px;
    height: 550px;

    font-family: 'GIfont';

    border: 1px solid black;
    border-radius: 20px;
    background-color: lightsteelblue;
}

.memberinfo-memberinfoform-title {
    width: 80%;
    height: 20%;

    font-size: x-large;

    margin: auto;
}

.memberinfo-memberinfoform-input {
    width: 80%;
    height: 50%;

    font-size: larger;

    margin: auto;
}
.memberinfo-memberinfoform-idpwinput {
    width: 500px;
    height: 50px;
}
.memberinfo-memberinfoform-idpwinput > label {
    width: 80%;
    height: 80%;
}
.memberinfo-memberinfoform-idpwinput > input {
    width: 80%;
    height: 80%;
}

.memberinfo-memberinfoform-submitbutton {
    width: 80%;
    height: 15%;

    margin: auto;
}
.memberinfo-memberinfoform-submitbtu {
    width: 100%;
    height: 100%;
}
.memberinfo-memberinfoform-submitbtu > button {
    width: 50%;
    height: 100%;

    border-radius: 30px;
    font-family: 'GIfont';
    font-size: larger;
}

.memberinfo-memberinfoform-submitbtu > button:active {
    color: red;
}