.menubar-btu {
    display : flex;
    justify-content: center;
    align-items : center;
}

.menubar-outer {
    width: 100%;
    height: 100px;

    background-color: gray;

    border: 1px solid black;
}

.menubar-main {
    width: 20%;
    height: 100%;
}
.menubar-menu {
    width: 60%;
    height: 100%;
}
.menubar-member {
    width: 20%;
    height: 100%;
}









.menubar-button {
    width: 150px;
    height: 80px;

    border-radius: 30px;

    color: white;
    background-color: black;
}
