.tdl-pagebackground {
    width: 100%;
    height: 85vh;

    background-color: beige;
}
.tdl-pageinner {
    width: 95%;
    height: 95%;

    border: 1px solid black;
    border-radius: 15px;
}
.tdl-tdlarea {
    width: 95%;
    height: 95%;
}

.tdl-sidebar {
    width: 20%;
    height: 100%;

    border: 1px solid black;
    border-radius: 15px;
}

.tdl-sidetitle {
    width: 100%;
    height: 10%;
}

.tdl-sideutil {
    width: 100%;
    height: 15%;
}

.tdl-sidebtu {
    width: 100%;
    height: 10%;
}

.tdl-changebtu {
    width: 200px;
    height: 60px;

    margin: 5px;
    border: none;
    border-radius: 10px;

    background-color: black;
    color: white;
}
.tdl-changebtu:active {
    background-color: white;
    color: black;
}

.tdl-contents {
    width: 80%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tdl-addtdl {
    width: 90%;
    height: 12%;

    border: 1px solid black;
    border-radius: 15px;
}
.tdl-showtdl {
    width: 90%;
    height: 63%;
}
.tdl-pagenation {
    width: 90%;
    height: 15%;

    border: 1px solid black;
    border-radius: 15px;
}

.todolist-loadbox {
    width: 98%;
    height: 90%;

    padding: 10px;

    border: 1px solid black;
    border-radius: 15px;
}