.menubar-btu {
    display : flex;
    justify-content: center;
    align-items : center;
}

.menubar-outer {
    width: 100%;
    height: 100px;

    background-color: gray;
}

.menubar-main {
    width: 20%;
    height: 100%;
}
.menubar-menu {
    width: 60%;
    height: 100%;
}
.menubar-member {
    width: 20%;
    height: 100%;
}

.menubar-button-big {
    width: 150px;
    height: 80px;

    border-radius: 30px;

    font-family: 'GIfont';

    color: white;
    background-color: black;
}

.menubar-button-small {
    width: 120px;
    height: 80px;

    border-radius: 30px;

    font-family: 'GIfont';

    color: white;
    background-color: black;
}

.menubar-button-big:active {
    color: red;
}
.menubar-button-small:active {
    color: red;
}
